body {
    margin: 0;
    padding: 0;
    background: #fdfbf2;
}
.container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 100px rgba(178,165,105,.19)
}
